@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

@import "tailwindcss";


body {
  background-color: #121212;
  color: #ededed;
  font-family: "Jura", sans-serif;
  width: 900px;
  margin: 0 auto;
  padding: 0 1.3rem;
  overflow-y: auto;
}

html {
  scrollbar-gutter: stable;
}

@media (max-width: 799px) {
  body {
    width: 100%;
    margin: 0;
  }
}